@keyframes square-move {

   

    25% {
        transform: translate(300px);
    }

    50% {
        transform: translate(300px, 300px);
    }

    75% {
        transform: translate(0px, 300px);
    }

}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-container {
    position: absolute;
    display: flex;
    width: 400px;
    height: 400px;
    background-color: rgba(238, 230, 230, 0.642);
}

.div-move {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: square-move 10s linear infinite;
    animation-direction: alternate-reverse ;
   

}

:checked ~ .div-move{
    animation-play-state: ;
}